body{
  margin:0;
  font-family:Arial;
  background:#f2f2f2;
}
.card{
  background:#fff;
  padding:15px;
  margin:15px;
  border-radius:8px;
}
input,button{
  width:100%;
  padding:12px;
  margin:6px 0;
  font-size:16px;
}
#jitsi{
  height:65vh;
}
.chatBox{
  position:fixed;
  bottom:0;
  width:100%;
  background:#fff;
}
#messages{
  height:120px;
  overflow:auto;
}
#adminControls button{
  background:#000;
  color:#fff;
}
